.navbar.navbar-inverse.footer
  .container-fluid
    ul.nav.navbar-nav
      li 
        p 
          a(href='www.MatthewCondit.com', target='_blank') Website Created by Condit Web Design
    ul.nav.navbar-nav.navbar-right
      li 
        p Located in Action, Mass.
