.footer-container
  .footer
    //- ul
    //-   li
    //-     p:a(href='/') Home
    //-   li
    //-     p:a(href='/About') About 
    //-   li
    //-     a(href='/Resume') Resume
    //-   li 
    //-     a(href='/Works') Portfolio
    //-   li 
    //-     a(href='/Blog') Blog
    br.clear
    p   
      |  
      a(href='/') Home
      |  |  
      a(href='/About')  About
      |  |  
      a(href='/Resume')  Resume 
      |  |  
      a(href='/Works') Portfolio
      |  |  
      a(href='/Blog') Blog
    p All Rights Reserved © 2016 Matthew Condit
    p Located in Somerville, MA
