.contact-wrapper
  .row.navbar-bottom.contact
    h3.col-md-6.col-sm-6.col-xs-12
      a(href='tel:+16075911629') 607.591.1629
    h3.col-md-6.col-sm-6.col-xs-12.right
      a(href="mailto:matt.condit4@gmail.com?Subject=Web Development Inquiry" ) matt.condit4@gmail.com 
