.navbar.navbar-inverse.footer
  .container-fluid
    ul.nav.navbar-nav
      li 
        p All Rights Reserved © 2016 Matthew Condit
    ul.nav.navbar-nav.navbar-right
      li 
        p Located in Somerville, MA
