.footer-container
  .footer
    p   
      |  
      a(href='/') Home
      |  |  
      a(href='/About')  About
      |  |  
      a(href='/Resume')  Resume 
      |  |  
      a(href='/Works') Portfolio
      |  |  
      a(href='/Blog') Blog
    p All Rights Reserved © 2016 Matthew Condit
    p Located in Somerville, MA
