.login-partial
  if currentUser
    h2 Hello #{name}
    .new-blog-button
      p: a(href='blog/newblog') + Write New Blog Post
    .logout
      p: a(href='blog/logout') Log Out
    br.clear
  else 
    .sign-in 
      p:  a(href='blog/register') REGISTER
    .sign-up
      p:  a(href='blog/login') LOG IN
    br.clear
    
