.login-partial 
  .sign-in 
    a(href='signup')
      button(value='Sign In') Sign In
  .sign-up
    a(href='login')
      button(value='Log In to Existing Account') Log In to Existing Account
  .new-blong 
    a(href='newblog')
      button(value='New Blog Post') Write New Blog Post
