.login-partial 
  .sign-in 
    a(href='signup')
      button(value='Register') Register
  .sign-up
    a(href='login')
      button(value='Log In to Existing Account') Log In
  .new-blog 
    a(href='newblog')
      button(value='New Blog Post') Write New Blog Post
