.nav
  .row
    span.nav-item.col-md-3.col-sm-3.col-xs-6 
      a(href='./') Home
    span.nav-item.col-md-3.col-sm-3.col-xs-6 
      a(href='./About') About Me
    span.nav-item.col-md-3.col-sm-3.col-xs-6 
      a(href='./Resume') Resume
    span.nav-item.col-md-3.col-sm-3.col-xs-6 
      a(href='./Works') Works  