nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      h3.collapse-header.navbar-toggle MatthewCondit.com
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".myNavbar" onclick='$(".collapse").toggleClass("show-nav")')
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .collapse.navbar-collapse.myNavBar
      ul.nav.navbar-nav
        li
          a(href='/', class=(title === 'Home' ? 'active' : '')) Home
        li
          a(href='/About', class=(title === 'About Me' ? 'active' : '')) About 
        li
          a(href='/Resume', class=(title === 'Resume' ? 'active' : '')) Resume
        li 
          a(href='/Works', class=(title === 'My Portfolio' ? 'active' : '')) Portfolio
        li 
          a(href='/Blog', class=(title === 'My Blog' ? 'active' : '')) Blog
      ul.nav.navbar-nav.navbar-right
        li 
          a(href='/') Matthew Condit Web Development
