nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".myNavbar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .collapse.navbar-collapse.myNavBar
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/About') About 
        li
          a(href='/Resume') Resume
        li 
          a(href='/Works') Portfolio
        li 
          a(href='/Blog') Blog
      ul.nav.navbar-nav.navbar-right
        li 
          a(href='/') Matthew Condit Web Development
