.nav
  .row
    span.nav-item.col-md-3.col-sm-6 
      a(href='./Index') Home
    span.nav-item.col-md-3.col-sm-6 
      a(href='./About') About Me
    span.nav-item.col-md-3.col-sm-6 
      a(href='') Resume
    span.nav-item.col-md-3.col-sm-6 
      a(href='') Works  