extends layout 

block content 
  .about
    .row
      .col-xs-3
      h1.col-xs-2 A little bit about me...
      img.pro-pic.col-xs-2(src="/images/ProfessionalPicture.jpg", alt='Matthew Condit')

      .col-xs-4
    .row
      .description.col-xs-4
        p In 2013, I wrote my first line of code.
        code print("Hello, world!")
        p I thought I was the next Bill Gates (I'm still hoping I might have been right!)
        p That was the moment my passion for programming started, and I didn't stop there. 

      .picture 
        img(src="/images/Python.png", alt='Python Hello World')
    hr
    .row
      .description.col-xs-4 
        p Over the course of the next few years, I learned computer science and theory at Colgate University.  Most importantly, however, I gained social and communication experience and a diverse background in the arts to complement my technical knowledge.
      .picture
        img(src="/images/colgate.jpg", alt='Python Hello World')
    hr
    .row
      .description.col-xs-4
        p 
      .picture



