extends layout 

block content
  script(src='javascripts/blog/blog.js')
  .blog-splash 
    h1 Blog
  .blog-container
    include ./partials/_login.jade
    br
    .blog(ng-cloak ng-app='blogApp')
      .list(ng-controller='mainCtrl')
        .blog-header(ng-repeat='blog in blogs')
          a(ng-href='/blog/{{blog._id}}')
            img.blog-img(ng-src='/images/blog/{{blog.imageUrl}}' ng-if='blog.imageUrl !== undefined' alt='blog photo')
            h2 {{blog.title}}
          h3: a(ng-href='/users/{{blog.author.username}}') By {{blog.author.name}}
          h3 {{blog.date | date: "MMMM d, yyyy"}}
          if admin
            button(ng-click='delete(blog)') Delete
          if loggedIn
            button(ng-click='like(blog)') Like

          h4 {{blog.likes.length}} likes
          p
            |      
            a(ng-href='/blog/{{blog._id}}' ng-bind-html='blog.preview') {{blog.preview}}

  
