extends layout 

block content
  script(src='javascripts/blog/blog.js')
  .blog-splash 
    h1 Blog
  .blog-container
    include ./partials/_login.jade
    br
    .blog(ng-cloak ng-app='blogApp')
      .list(ng-controller='mainCtrl')
        .blog-header(ng-repeat='blog in blogs')
          a(ng-href='/blog/{{blog._id}}')
            h2 {{blog.title}}
          h3
            | Written by 
            a(ng-href='/users/{{blog.author.username}}') {{blog.author.name}}
            |  on {{blog.date | date: "EEEE, MMMM d yyyy"}}
          button(ng-click='like(blog)') Like
          button(ng-click='delete(blog)') Delete
          h4 {{blog.likes}} likes
          p 
            a(ng-href='/blog/{{blog._id}}') {{blog.body | limitTo: 300 }} ...
          hr
          
  
