extends layout 

block content
  script(src='javascripts/blog/blog.js')
  .blog-splash 
    h1 Blog
  include ./partials/_login.jade
  .blog(ng-cloak ng-app='blogApp')
    .list(ng-controller='mainCtrl')
      .blog-header(ng-repeat='blog in blogs')
        a(ng-href='/blog/{{blog._id}}')
          h2 {{blog.title}}
          h3 Written by {{blog.author.name}} on {{blog.date | date: "EEEE, MMMM d yyyy"}}
          img(src='/images/res/awesome.png')
          h4 {{blog.likes.num}} likes
          p {{blog.body}}
        hr
          
  
