extends layout 

block content
  script(src='javascripts/blog/blog.js')
  .blog-splash 
    h1 Read my blog.
  .blog-container
    include ./partials/_login.jade
    br.clear
    .blog(ng-cloak ng-app='blogApp')
      .list.grid(ng-controller='mainCtrl')
        .blog-header.grid-item.waiting(ng-repeat='blog in blogs')
          a(ng-href='/blog/{{blog._id}}')
            img.blog-img(ng-src='/images/uploads/{{blog.imageUrl}}' ng-if='blog.imageUrl !== undefined' alt='blog photo')
            
            h2(ng-if='blog.title !==""') {{blog.title}}
          h3(ng-if='blog.title !==""'): a(ng-href='/users/{{blog.author.username}}') By {{blog.author.name}}
          h3 {{blog.date | date: "h:mm a MMMM d, yyyy"}}
          if admin
            button(ng-click='delete(blog)') Delete
          if loggedIn
            img.likes(src='/images/res/star.png'  ng-click='like(blog)')
            //img.likes(src='/images/res/stared.png')

          h4(ng-if='blog.title !== ""') {{blog.likes.length}} likes
          p(ng-if='blog.title !== ""')
            | 
            a(ng-if='blog.title !== ""' ng-href='/blog/{{blog._id}}' ng-bind-html='blog.preview') {{blog.preview}}
    
        if loggedIn
          a(href='/blog/postblog')
            .blog-header.new-blog-header
              h3 +
              h4 Write a New Blog Post 
    br.clear

  
