extends layout 

block content
  .single-blog
    script(src='../javascripts/blog/blog.js')
    a(href="/blog"): p ← Go back to all blogs
    .row
      .col-md-6.col-md-offset-3(ng-cloak ng-app='singleBlogApp')
        .div(ng-controller='blogCtrl')
          h1 {{blog.title}}
          h3 Written by {{author.name}} on {{blog.date | date: "EEEE, MMMM d yyyy"}}
          h6 {{blog.likes.length}} likes
          p {{blog.body}}