extends layout
block content 
  br
  br
  br
  .row.countdown
    .col-xs-1
    .col-xs-10
      h1 Countdown to Matt's Birthday 
      #clockdiv
    .col-xs-1




  script.

    function initializeClock(id, endtime){
      var clock = document.getElementById(id);
      var timeinterval = setInterval(function(){
        var t = getTimeRemaining(endtime);
        clock.innerHTML = '<div class="count"><span class="num">' + t.days +'</span><br>Days</div></div>' +                  '<div class="count"><span class="num">' + t.hours +'</span><br>Hours</div></div>' +                  '<div class="count"><span class="num">' + t.minutes +'</span><br>Minutes</div></div>' +                  '<div class="count"><span class="num">' + t.seconds +'</span><br>Seconds</div></div>';
        if(t.total<=0){
          clearInterval(timeinterval);
        }
      },1000);
    };

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }
    initializeClock('clockdiv', '2016-10-12')

    