extends layout
block content 
  .countdown 
    .countdown-header 
      h1#header Christmas Countdown 2016
      
      h3 Enter your name and a date to get your own countdown! 
  
      fieldset(data-role='')
        label(for='name') Your Name:  
        input(id='name', name='name', type='text', value='', placeholder='Your Name').form-control
        label(for='bday') Your Date:   
        input(id='date', type='date', name='date', value='', placeholder='').form-control
        button.btn#clockid(value='Get your Countdown') Get your Countdown
      #clockdiv
      img(src='/images/christmas.png' alt='christmas tree')
          




  script.
    
    function initializeClock(id, endtime){
      var clock = document.getElementById(id);
      var timeinterval = setInterval(function(){
        var t = getTimeRemaining(endtime);
        clock.innerHTML = '<div class="count"><span class="num">' + t.days +'</span><br>Days</div></div>' +                  '<div class="count"><span class="num">' + t.hours +'</span><br>Hours</div></div>' +                  '<div class="count"><span class="num">' + t.minutes +'</span><br>Minutes</div></div>' +                  '<div class="count"><span class="num">' + t.seconds +'</span><br>Seconds</div></div>';
        if(t.total<=0){
          clearInterval(timeinterval);
        };
        var submit = document.getElementById('clockid');
        submit.onclick = function() {
          endtime = $('#date').val();
          $('#header').html('Countdown to ' + $('#name').val() +'\'s Date');
        };
      },1000);
    };

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    };
    initializeClock('clockdiv', '2016-12-25');
