extends layout

block content
  .splash
    .splash-title
      h1  Matthew Condit
      
        
      h2 Web Application Developer

    .splash-description  
      .row
        .col-lg-4
        .col-lg-4
          p.circle
            span I am a full-stack Web Developer based in Boston, Massachusetts.  Check out my qualifications, projects, and this site itself to my quality of work. 
        .col-lg-4
  .arrow.bounce


