extends layout

block content
  .splash
    h1.splash-title 
      b Matthew Condit
    .splash-description  
      h2 I am a full-stack Web Developer based in Boston, Massachusetts.  Check out my qualifications, projects, and this site itself to my quality of work. 

