extends layout

block content
  .splash
    .splash-title
      h1  Matthew Condit
      
        
      h2 Web Application Developer

    .splash-description  
      .row
        .col-lg-4
        .col-lg-4
          p.circle
            span I am a full-stack Web Developer based in Boston, Massachusetts.  Look around this site to see what I have to offer.
            a(href='countdown') Countdown
        .col-lg-4
  .arrow.bounce


