extends layout

block content
  .splash
    h1.splash-title 
      b Matthew Condit
    .splash-description  
      h2 I am a full-stack Web Developer based in Boston, Massachusetts.  Play around on this site to see if you like what I have to offer. 
  .contact-wrapper
    .row
      h3.contact.col-md-6.left 607.591.1629
      h3.contact.col-md-6.right Matt.Condit4@gmail.com 

