extends layout

block content
  .splash
    h1.splash-title Matthew Condit
    h2.splash-follow  I am a full-stack Web Developer based in Boston, Massachusetts.  Play around on this site to see if you like what I have to offer. ;) 

