doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Cinzel')

  body
    include ./partials/_nav.jade
    block content
