doctype html
html
  head
    title=  title + " - Matthew Condit" 
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="P26h10j-KqIW092RIC7PCJMiL4fd4goA7wl1BrQbNbQ" />
    <meta name="description" content="Matthew Condit is a talented full stack developer located in the Greater Boston Area">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <script   src="http://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: '#mytextarea'});  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    <link href="https://fonts.googleapis.com/css?family=Cinzel:900|Lato:300i|Titillium+Web:200i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nobile:700|Roboto+Slab" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    

  body
    include ./partials/_nav.jade
    block content
    include ./partials/_footer.jade
    
