extend layout 

block content 
  .new-blog
    
    form(action='saveBlog', enctype='multipart/form-data', method='post')
      h1 New Blog Post 
      fieldset(data-role='')
        label(for='title') Title 
        input(id='titleInput', name='titleInput', type='text', value='', placeholder='Your Title', require='true').form-control
        label(for='image') Your Title Image
        input(id='image', ,name='image', type='file', accept='application/x-zip-compressed,image/*')
        br
        label(for='body') Your Article (Box is resizable)
        textarea(id='mytextarea', name='bodyInput').form-control
        input(type='submit', value='Post your Article').btn.btn-primary
