extends layout 

block content 
  br
  br
  .resume
    .resume-title
      h1 Matthew Condit
      h2 Matthew.Condit4@gmail.com

    .technical
      h3 Technical Summary
      h4 Languages
      p  C#, VBA, Java, C, Haskell, Ruby Python, HTML, CSS, Javascript, AngularJS, NodeJS, D3 (JS), SQL
      br
      h4 Relevant Coursework: 
      p   Operating Systems, Computer Architecture, Discrete Mathematical Structures, Data Structure and Algorithm Implementation
      br
      h4 Hardware Skills: 
      p   Computer architecture, circuitry design, and soldering experience 

    .project-highlights
      h3 Project Highlights

      .highlight
        h4 Toxikon Protocol Manager (TPM) WEb and Windows Application 
        ul 
          li
            p Working within an ASP.NET MVC 4 framework, developed two applications integrated with a SQL Database, using C# Razor and AngularJS for smooth UX
          li 
            p Allows searching, filtering, and detailed information of protocols with optimized runtime of functions and clean and simple UI
      .highlight
        h4 Chemical Tracking System Web Application 
        ul 
          li
            p Also in a .NET environment, I developed a web application to track all chemicals coming in and out of our facilities, integrating with a new SQL database
          li 
            p Utilized different user roles and sign in ability for a complex, rich workflow to improve productivity
      .work-experiences
        h3 Work Experience

        .job
          h4 Full-Stack Web Application Developer, Toxikon Corporation
          h5 Bedford, MA (March 2016-Present)
          ul 
            li
              p Developing and updating ASP.NET Web Applications to improve productivity and consistency
            li 
              p Producing Microsoft Office Macros to automate reports and perform efficient calculations





  