extends layout 

block content 

  .resume-wrapper
    br
    br
    .resume
      .resume-title
        h1 Matthew Condit
        h2 Web Application Developer
        a(href="mailto:matt.condit4@gmail.com?Subject=Web Development Inquiry" )
          h3 Matthew.Condit4@gmail.com
      br
      br
      .technical
        h3 Technical Summary
        h4 Languages
        p  C#, VBA, JavaScript, JQuery, AngularJS, NodeJS, D3 (JS), Jade, Express (JS), CSS, Sass, C, Haskell, Ruby, Python, HTML, SQL
        br
        h4 Relevant Coursework: 
        p   Operating Systems, Computer Architecture, Discrete Mathematical Structures, Data Structure and Algorithm Implementation
        br
        h4 Hardware Skills: 
        p   Computer architecture, circuitry design, and soldering experience 
      br
      .project-highlights
        h3 Project Highlights

        .highlight
          h4 Toxikon Protocol Manager (TPM) Web and Windows Application 
          ul 
            li
              p Working within an ASP.NET MVC 4 framework, developed two applications integrated with a SQL Database, using C# Razor and AngularJS for smooth UX
            li 
              p Allows searching, filtering, and detailed information of protocols with optimized runtime of functions and clean and simple UI
        .highlight
          h4 Chemical Tracking System Web Application 
          ul 
            li
              p Also in a .NET environment, I developed a web application to track all chemicals coming in and out of our facilities, integrating with a new SQL database
            li 
              p Utilized different user roles and sign in ability for a complex, rich workflow to improve productivity
        br
        .work-experiences
          h3 Work Experience

          .job
            h4 Full-Stack Web Application Developer, Toxikon Corporation
            h5 Bedford, MA (March 2016-Present)
            ul 
              li
                p Developing and updating ASP.NET Web Applications to improve productivity and consistency
              li 
                p Producing Microsoft Office Macros to automate reports and perform efficient calculations
              li 
                p Providing diverse coding solutions and software training to over 150 employees in a way that is user friendly and approachable for individuals without a coding background

          .job
            h4 Testing Developer, Java Development Intern, ModusBox
            h5 Seattle, WA (July 2014-August 2014, February 2016-March 2016)
            ul 
              li 
                p Worked under former Microsoft Windows Azure and BizTalk Technical Product Manager to develop AS2 connector for MuleSoft ESB
              li 
                p Developed proficiency with AngularJS while being tasked to build unit tests
              li 
                p Gained experience with RAML and REST API design
              li 
                p Designed J-Unit tests and researched the implementation of them for our finished product
              li 
                p Utilized debugging and dependency-identifying software in Eclipse
          .job
            h4 Summer Ruby on Rails Program Assistant, Flatiron Schools
            h5 Boston, MA (June 2015-August 2015)
            ul 
              li 
                p Wrote testing programs in Ruby and became experienced with Test Driven Design Principles 
              li
                p Developed strong HTML, CSS, SQL, Ruby on Rails and JavaScript Foundation 


        br
        .leadership
          h3 Leadership

          .lead-position
            h4 Web Manager, Musical Director, Colgate Dischords
            h5 Hamilton, NY (September 2013-January 2016)
            ul 
              li
                p
                  | Designed and still upkeep a webpage using a CMS (Weebly):  
                  a(href='http://www.colgatedischords.weebly.com', target='_blank') ColgateDischords.com
              li 
                p Coordinated with adminstration and other group directors to execute six concerts a year
              li 
                p Lead the group of 18 members in rehearsal, concerts, and philanthropic events
          .lead-position 
            h4 Phikeia President, Social Chairman, Phi Delta Theta, New York Zeta Chapter
            h5 Hamilton, NY (Fall 2014-Fall 2015)
            ul 
              li 
                p Facilitated new member education events for the 21 person Phikeia pledge class in the fall of 2014
              li 
                p Managed a budget of $30,000 per semester to plan social and philanthropic events 
        br
        .education
          h3 Education  
          .school 
            h4 Colgate University
            h5 Hamilton, NY (Fall 2013-January 2016)
            h5 Computer Science Major 
            h5 Member of Colgate Hackers Club 
            h5 Member of the Alumni Memorial Scholar Program 
        br
        br





    
