extends layout 

block content 
  br
  br
  .row
    .col-xs-1.col-sm-2.col-md-2.col-lg-2
    .resume.col-xs-10.col-sm-8.col-md-8.col-lg-8
      .resume-title
        h1 Matthew Condit
        h2 Web Application Developer
        h3 Matthew.Condit4@gmail.com
      br
      br
      .technical
        h3 Technical Summary
        h4 Languages
        p  C#, VBA, Java, C, Haskell, Ruby Python, HTML, CSS, Javascript, AngularJS, NodeJS, D3 (JS), SQL
        br
        h4 Relevant Coursework: 
        p   Operating Systems, Computer Architecture, Discrete Mathematical Structures, Data Structure and Algorithm Implementation
        br
        h4 Hardware Skills: 
        p   Computer architecture, circuitry design, and soldering experience 

      .project-highlights
        h3 Project Highlights

        .highlight
          h4 Toxikon Protocol Manager (TPM) WEb and Windows Application 
          ul 
            li
              p Working within an ASP.NET MVC 4 framework, developed two applications integrated with a SQL Database, using C# Razor and AngularJS for smooth UX
            li 
              p Allows searching, filtering, and detailed information of protocols with optimized runtime of functions and clean and simple UI
        .highlight
          h4 Chemical Tracking System Web Application 
          ul 
            li
              p Also in a .NET environment, I developed a web application to track all chemicals coming in and out of our facilities, integrating with a new SQL database
            li 
              p Utilized different user roles and sign in ability for a complex, rich workflow to improve productivity
        .work-experiences
          h3 Work Experience

          .job
            h4 Full-Stack Web Application Developer, Toxikon Corporation
            h5 Bedford, MA (March 2016-Present)
            ul 
              li
                p Developing and updating ASP.NET Web Applications to improve productivity and consistency
              li 
                p Producing Microsoft Office Macros to automate reports and perform efficient calculations
              li 
                p Providing diverse coding solutions and software training to over 150 employees in a way that is user friendly and approachable for individuals without a coding background

          .job
            h4 Testing Developer, Java Development Intern, ModusBox
            h5 Seattle, WA (July 2014-August 2014, February 2016-March 2016)
            ul 
              li 
                p Worked under former Microsoft Windows Azure and BizTalk Technical Product Manager to develop AS2 connector for MuleSoft ESB
    .col-xs-1.col-sm-2.col-md-2.col-lg-2




  