extends layout 

block content 
  br
  br
  br
  .works 
    .work
      .row
        .description.col-xs-12.col-sm-4
          h2 Colgate Dischords
          p In 2014, I designed the Colgate Dischords website.  This a cappella group meant a lot to me during my time at Colgate, so I still update it as frequently as possible.  It was built with the Content Management System Weebly. 
        .site.col.col-xs-12.col-sm-7
          a(href="http://ColgateDischords.weebly.com", target='_blank')
            img(src="/images/Dischords.JPG", alt='Colgate Dischords Website Home')
    hr
    .work 
      .row
        .description.col-xs-12.col-sm-4
          h2 Condit Construction
          p A recent project, Condit Construtions is a small construction group in the Greater Boston Area that needed web presence to continue to thrive.  It boasts a clean design with intuitive functionality built right in.
        .site.col-xs-12.col-sm-7
          a(href="http://dconditconstruction.com", target='_blank')
            img(src='/images/dcc.jpg', alt='David Construction Construction Site Home')
    hr
    .work 
      .row 
        .description.col-xs-12.col-sm-4
          h2 Birthday Countdown 
          p I just can't wait 
        .site.col-xs-12.col-sm-7
          a(href='countdown', target='_blank')
            img(src='/images/birthday.PNG', alt='Countdown page')
  
