extends layout 

block content 
  br
  br
  br
  .works 
    .work
      .row
        .description.col-xs-4
          h2 Colgate Dischords
          p In 2014, I designed the Colgate Dischords website.  This a cappella group meant a lot to me during my time at Colgate, so I still update it as frequently as possible.  It was built with the Content Management System Weebly. 
        .site
          a(href="http://ColgateDischords.weebly.com", target='_blank')
            img(src="/images/Dischords.JPG", alt='Colgate Dischords Website Home')
    hr
    .work 
      h2 David's Site
    .work 
      h2  
  