h1, h2, h3, h4, h5, h6 {
  font-family: "Nobile", sans-serif; }

p {
  font-family: "Roboto Slab", serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

/* Nav Partial Styles */
.nav * {
  font-weight: 700; }

.navbar {
  margin-bottom: 0; }

/* Intro div stylings */
.intro {
  background-color: #f6f6f6;
  margin: 0; }
  .intro .intro-content {
    padding: 20px; }
    .intro .intro-content h1 {
      font-family: "Nobile", sans-serif; }
    .intro .intro-content p {
      font-family: "Roboto Slab", serif;
      font-size: 20px; }
  .intro .intro-sidebar {
    padding: 0; }
  .intro .intro-pic {
    width: 100%;
    background-color: #f6f6f6;
    padding: 0; }

.skills {
  padding: 20px;
  background-color: #ddd; }
  .skills ul {
    list-style-type: none; }
    .skills ul li {
      display: inline-block;
      border: 4px solid #00aced;
      padding: 20px;
      margin: 10px;
      font-family: "Nobile", sans-serif; }

.contact-wrapper {
  background-color: white;
  padding: 20px; }
  .contact-wrapper .contact {
    width: 60%;
    margin: 0 auto; }
    .contact-wrapper .contact #description {
      height: 150px;
      margin-bottom: 20px; }

.resume {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  font-family: "Nobile", sans-serif;
  font-weight: 700; }
  .resume h1 {
    font-size: 80px; }
  .resume h2 {
    font-size: 50px; }
  .resume h3 {
    font-size: 40px; }
  .resume h4 {
    font-size: 30px; }
  .resume h5 {
    font-size: 24px; }
  .resume p {
    font-size: 20px; }

.resume-wrapper {
  background-color: #f6f6f6; }

/* About Page Styles */
.about-wrapper {
  background-color: #F45B69; }

.about {
  padding: 50px 10px 10px 10px;
  width: 70%;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: 700; }
  @media screen and (max-width: 600px) {
    .about {
      width: 90%; } }
  .about h1 {
    font-size: 5em; }
    @media screen and (max-width: 600px) {
      .about h1 {
        font-size: 2em; } }

.about-skills {
  width: 60%;
  margin: 0 auto; }
  .about-skills img {
    height: 100px;
    margin-bottom: 40px; }

.timeline {
  background-color: #456990;
  padding-top: 20px;
  font-weight: 700; }
  .timeline h2 {
    color: #F45B69; }
  .timeline ul {
    margin-bottom: 0; }
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff; }
    .timeline ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit; }
    .timeline ul li div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: #F45B69;
      font-family: "Roboto Slab", serif; }
      .timeline ul li div time {
        font-family: "Nobile", sans-serif; }
      .timeline ul li div::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid; }
    .timeline ul li:nth-child(odd) div {
      left: 45px; }
      .timeline ul li:nth-child(odd) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent; }
    .timeline ul li:nth-child(even) div {
      left: -439px; }
      .timeline ul li:nth-child(even) div::before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent #F45B69; }
    .timeline ul li::after {
      background: #fff;
      transition: background .5s ease-in-out; }
    .timeline ul li.in-view::after {
      background: #F45B69; }
    .timeline ul li div {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out; }
    .timeline ul li:nth-child(odd) div {
      transform: translate3d(50px, 0, 0); }
      @media screen and (max-width: 500px) {
        .timeline ul li:nth-child(odd) div {
          transform: none; } }
    .timeline ul li:nth-child(even) div {
      transform: translate3d(-50px, 0, 0); }
      @media screen and (max-width: 500px) {
        .timeline ul li:nth-child(even) div {
          transform: none; } }
    .timeline ul li.in-view div {
      transform: none;
      visibility: visible;
      opacity: 1; }

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px; }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/ } }
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px; }
    .timeline ul li div {
      width: calc(100vw - 91px); }
    .timeline ul li:nth-child(even) div::before {
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent; } }
@media screen and (max-width: 600px) and (max-width: 400px) {
  ul {
    padding-left: 10px; }

  .timeline ul li div {
    width: calc(100vw - 91px); }
  .timeline ul li:nth-child(even) div {
    left: 45px; }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent; } }
.arrow {
  position: fixed;
  bottom: 0;
  left: 50%; }

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.works {
  font-family: "Nobile", sans-serif;
  font-weight: 700;
  background-color: #f6f6f6; }
  .works h2 {
    font-size: 40px; }
  .works iframe {
    height: 400px;
    width: 40%; }

.work {
  margin-top: 80px;
  padding: 30px; }
  .work img {
    width: 100%;
    border: 2px solid black; }

/* Contact footer Partial Style */
.footer {
  margin-bottom: 0;
  border-radius: 0;
  color: #ddd; }
  .footer p {
    margin: 10px;
    font-family: "Nobile", sans-serif; }

.countdown {
  background-color: #2c3e50;
  min-height: 90%;
  padding: 50px;
  text-align: center; }
  .countdown h1, .countdown h3 {
    font-family: "Nobile", sans-serif;
    font-size: 50px;
    color: #e74c3c; }
  .countdown fieldset {
    margin: 0 auto; }
    .countdown fieldset input, .countdown fieldset label, .countdown fieldset button {
      font-family: "Nobile", sans-serif;
      padding: 10px;
      margin: 10px;
      float: left;
      font-size: 1.2em;
      color: #e74c3c; }
    .countdown fieldset input {
      width: 220px; }
    .countdown fieldset button {
      color: #333;
      background-color: #ddd; }

.count {
  font-family: "Nobile", sans-serif;
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  color: #e74c3c; }

.num {
  font-size: 100px;
  font-family: "Nobile", sans-serif; }

.weather {
  /* HTML5 display-role reset for older browsers */
  /* Custom Styles */ }
  .weather html, .weather body, .weather div, .weather span, .weather applet, .weather object, .weather iframe,
  .weather h1, .weather h2, .weather h3, .weather h4, .weather h5, .weather h6, .weather p, .weather blockquote, .weather pre,
  .weather a, .weather abbr, .weather acronym, .weather address, .weather big, .weather cite, .weather code,
  .weather del, .weather dfn, .weather em, .weather img, .weather ins, .weather kbd, .weather q, .weather s, .weather samp,
  .weather small, .weather strike, .weather strong, .weather sub, .weather sup, .weather tt, .weather var,
  .weather b, .weather u, .weather i, .weather center,
  .weather dl, .weather dt, .weather dd, .weather ol, .weather ul, .weather li,
  .weather fieldset, .weather form, .weather label, .weather legend,
  .weather table, .weather caption, .weather tbody, .weather tfoot, .weather thead, .weather tr, .weather th, .weather td,
  .weather article, .weather aside, .weather canvas, .weather details, .weather embed,
  .weather figure, .weather figcaption, .weather footer, .weather header, .weather hgroup,
  .weather menu, .weather nav, .weather output, .weather ruby, .weather section, .weather summary,
  .weather time, .weather mark, .weather audio, .weather video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .weather article, .weather aside, .weather details, .weather figcaption, .weather figure,
  .weather footer, .weather header, .weather hgroup, .weather menu, .weather nav, .weather section {
    display: block; }
  .weather body {
    line-height: 1; }
  .weather ol, .weather ul {
    list-style: none; }
  .weather blockquote, .weather q {
    quotes: none; }
  .weather blockquote:before, .weather blockquote:after,
  .weather q:before, .weather q:after {
    content: '';
    content: none; }
  .weather table {
    border-collapse: collapse;
    border-spacing: 0; }
  .weather body {
    background: #edf5f4;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .weather header {
    background: #58bbb3;
    background: -moz-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: -webkit-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: -o-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: -ms-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    height: 84px;
    line-height: 84px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
  .weather header h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
  .weather p {
    margin: 10 auto; }
  .weather #graph {
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  .weather #graph #info {
    text-align: right; }
  .weather #graph #info #keys .key {
    padding: 10px;
    display: inline-block; }
  .weather #info {
    color: #555; }
  .weather #info #keys .key-text {
    vertical-align: super; }
  .weather #graph .bars line {
    stroke: #95cddf;
    stroke-width: 2px; }
  .weather #graph .tick line {
    stroke: #ccc;
    stroke-width: 1px; }
  .weather #graph .axis path {
    stroke-width: 1px;
    stroke: #ccc;
    fill: none; }
  .weather #graph path#rain-line {
    fill: none;
    stroke: #cc627a;
    stroke-width: 0.5; }
  .weather #graph line#cursor {
    stroke-width: 1.5px;
    stroke: #555;
    fill: none;
    opacity: 0.7; }
  .weather #graph text {
    fill: #aaa; }
  .weather #graph text.label {
    font-weight: bold;
    color: #555; }

/*# sourceMappingURL=style.css.map */
