body {
  background-color: black;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nobile", sans-serif; }

p {
  font-family: "Roboto Slab", serif; }

.row {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

/* Nav Partial Styles */
.nav * {
  font-weight: 700; }

.navbar {
  margin-bottom: 0; }

/* Intro div stylings */
.intro {
  background-color: #f6f6f6;
  margin: 0; }
  .intro .intro-content {
    padding: 20px; }
    .intro .intro-content h1 {
      font-family: "Nobile", sans-serif; }
    .intro .intro-content p {
      font-family: "Roboto Slab", serif;
      font-size: 20px; }
  .intro .intro-sidebar {
    padding: 0; }
  .intro .intro-pic {
    width: 100%;
    background-color: #f6f6f6;
    padding: 0; }

.skills {
  padding: 20px;
  background-color: #ddd; }
  .skills ul {
    list-style-type: none; }
    .skills ul li {
      display: inline-block;
      border: 4px solid #5C97BF;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      font-family: "Nobile", sans-serif; }

.contact-wrapper {
  background-color: white;
  padding: 20px; }
  .contact-wrapper .contact {
    width: 60%;
    margin: 0 auto; }
    .contact-wrapper .contact #description {
      height: 150px;
      margin-bottom: 20px; }

.resume {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  font-family: "Nobile", sans-serif;
  font-weight: 700; }
  .resume h1 {
    font-size: 80px; }
  .resume h2 {
    font-size: 50px; }
  .resume h3 {
    font-size: 40px; }
  .resume h4 {
    font-size: 30px; }
  .resume h5 {
    font-size: 24px; }
  .resume p {
    font-size: 20px; }

.resume-wrapper {
  background-color: #f6f6f6; }

/* About Page Styles */
.about-wrapper {
  background-color: #F45B69; }

.about {
  padding: 50px 10px 10px 10px;
  width: 70%;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: 700; }
  @media screen and (max-width: 600px) {
    .about {
      width: 90%; } }
  .about h1 {
    font-size: 5em; }
    @media screen and (max-width: 600px) {
      .about h1 {
        font-size: 2em; } }

.about-skills {
  width: 60%;
  margin: 0 auto; }
  .about-skills img {
    height: 100px;
    margin-bottom: 40px; }

.timeline {
  background-color: #456990;
  padding-top: 20px;
  font-weight: 700; }
  .timeline h2 {
    color: #F45B69; }
  .timeline ul {
    margin-bottom: 0; }
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff; }
    .timeline ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit; }
    .timeline ul li div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: #F45B69;
      border-radius: 5px;
      font-family: "Roboto Slab", serif; }
      .timeline ul li div time {
        font-family: "Nobile", sans-serif; }
      .timeline ul li div::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid; }
    .timeline ul li:nth-child(odd) div {
      left: 45px; }
      .timeline ul li:nth-child(odd) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent; }
    .timeline ul li:nth-child(even) div {
      left: -439px; }
      .timeline ul li:nth-child(even) div::before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent #F45B69; }
    .timeline ul li::after {
      background: #fff;
      transition: background .5s ease-in-out; }
    .timeline ul li.in-view::after {
      background: #F45B69; }
    .timeline ul li div {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out; }
    .timeline ul li:nth-child(odd) div {
      transform: translate3d(50px, 0, 0); }
      @media screen and (max-width: 500px) {
        .timeline ul li:nth-child(odd) div {
          transform: none; } }
    .timeline ul li:nth-child(even) div {
      transform: translate3d(-50px, 0, 0); }
      @media screen and (max-width: 500px) {
        .timeline ul li:nth-child(even) div {
          transform: none; } }
    .timeline ul li.in-view div {
      transform: none;
      visibility: visible;
      opacity: 1; }

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px; }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/ } }
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px; }
    .timeline ul li div {
      width: calc(100vw - 91px); }
    .timeline ul li:nth-child(even) div::before {
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent; } }
@media screen and (max-width: 600px) and (max-width: 400px) {
  ul {
    padding-left: 10px; }

  .timeline ul li div {
    width: calc(100vw - 91px); }
  .timeline ul li:nth-child(even) div {
    left: 45px; }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent; } }
.arrow {
  position: fixed;
  bottom: 0;
  left: 50%; }

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.works {
  font-family: "Nobile", sans-serif;
  font-weight: 700;
  background-color: #f6f6f6; }
  .works h2 {
    font-size: 40px; }
  .works iframe {
    height: 400px;
    width: 40%; }

.work {
  margin-top: 80px;
  padding: 30px; }
  .work img {
    width: 100%;
    border: 2px solid black; }

/* Contact footer Partial Style */
.footer {
  margin-bottom: 0;
  border-radius: 0;
  color: #ddd; }
  .footer p {
    margin: 10px;
    font-family: "Nobile", sans-serif;
    font-size: .8em; }

.countdown {
  background-color: #2e5620;
  min-height: 90vh;
  padding: 50px;
  text-align: center; }
  .countdown h1, .countdown h3 {
    font-family: "Nobile", sans-serif;
    font-size: 50px;
    color: #c62b1a; }
  .countdown img {
    padding: 50px; }
  .countdown fieldset {
    margin: 0 auto;
    width: auto;
    text-align: center; }
    .countdown fieldset input, .countdown fieldset label, .countdown fieldset button {
      margin: 3px auto;
      font-family: "Nobile", sans-serif;
      padding: 5px;
      font-size: 1.2em;
      color: #c62b1a; }
    .countdown fieldset input {
      width: 220px; }
    .countdown fieldset button {
      color: #333;
      background-color: #ddd; }

.count {
  font-family: "Nobile", sans-serif;
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  color: #c62b1a; }

.num {
  font-size: 100px;
  font-family: "Nobile", sans-serif; }

.weather {
  /* HTML5 display-role reset for older browsers */
  /* Custom Styles */ }
  .weather html, .weather body, .weather div, .weather span, .weather applet, .weather object, .weather iframe,
  .weather h1, .weather h2, .weather h3, .weather h4, .weather h5, .weather h6, .weather p, .weather blockquote, .weather pre,
  .weather a, .weather abbr, .weather acronym, .weather address, .weather big, .weather cite, .weather code,
  .weather del, .weather dfn, .weather em, .weather img, .weather ins, .weather kbd, .weather q, .weather s, .weather samp,
  .weather small, .weather strike, .weather strong, .weather sub, .weather sup, .weather tt, .weather var,
  .weather b, .weather u, .weather i, .weather center,
  .weather dl, .weather dt, .weather dd, .weather ol, .weather ul, .weather li,
  .weather fieldset, .weather form, .weather label, .weather legend,
  .weather table, .weather caption, .weather tbody, .weather tfoot, .weather thead, .weather tr, .weather th, .weather td,
  .weather article, .weather aside, .weather canvas, .weather details, .weather embed,
  .weather figure, .weather figcaption, .weather footer, .weather header, .weather hgroup,
  .weather menu, .weather nav, .weather output, .weather ruby, .weather section, .weather summary,
  .weather time, .weather mark, .weather audio, .weather video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .weather article, .weather aside, .weather details, .weather figcaption, .weather figure,
  .weather footer, .weather header, .weather hgroup, .weather menu, .weather nav, .weather section {
    display: block; }
  .weather body {
    line-height: 1; }
  .weather ol, .weather ul {
    list-style: none; }
  .weather blockquote, .weather q {
    quotes: none; }
  .weather blockquote:before, .weather blockquote:after,
  .weather q:before, .weather q:after {
    content: '';
    content: none; }
  .weather table {
    border-collapse: collapse;
    border-spacing: 0; }
  .weather body {
    background: #edf5f4;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .weather header {
    background: #58bbb3;
    background: -moz-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: -webkit-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: -o-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: -ms-linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    background: linear-gradient(left, #58bbb3 0%, #40adcf 100%);
    height: 84px;
    line-height: 84px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
  .weather header h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
  .weather p {
    margin: 10 auto; }
  .weather #graph {
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
  .weather #graph #info {
    text-align: right; }
  .weather #graph #info #keys .key {
    padding: 10px;
    display: inline-block; }
  .weather #info {
    color: #555; }
  .weather #info #keys .key-text {
    vertical-align: super; }
  .weather #graph .bars line {
    stroke: #95cddf;
    stroke-width: 2px; }
  .weather #graph .tick line {
    stroke: #ccc;
    stroke-width: 1px; }
  .weather #graph .axis path {
    stroke-width: 1px;
    stroke: #ccc;
    fill: none; }
  .weather #graph path#rain-line {
    fill: none;
    stroke: #cc627a;
    stroke-width: 0.5; }
  .weather #graph line#cursor {
    stroke-width: 1.5px;
    stroke: #555;
    fill: none;
    opacity: 0.7; }
  .weather #graph text {
    fill: #aaa; }
  .weather #graph text.label {
    font-weight: bold;
    color: #555; }

/* Blog Stylings */
.blog-container {
  background-color: #dddddd;
  min-height: 50vh; }

.blog {
  text-align: left;
  padding: 20px; }
  .blog a:hover {
    text-decoration: underline;
    color: #222; }
  .blog p {
    font-family: "Roboto Slab", serif;
    font-size: 1.5em; }
  .blog img {
    height: 30px;
    display: inline-block; }

.blog-splash {
  text-align: center;
  padding: 30px;
  background-image: url("/images/keyboard.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 338px;
  clip: auto; }
  .blog-splash h1 {
    font-family: "Nobile", sans-serif;
    font-size: 8em;
    color: white;
    text-shadow: 2px 2px 5px black; }

.new-blog {
  background-color: #456990;
  min-height: 89vh;
  padding: 20px;
  color: #ddd; }
  .new-blog form {
    width: 80%;
    margin: 0 auto; }
    .new-blog form * {
      margin: 10px; }
    .new-blog form textarea {
      height: 50vh; }

.single-blog {
  background-color: #ddd;
  min-height: 90vh;
  padding: 20px; }

/* Login and Register Partials */
.register, .login {
  padding: 30px;
  background-color: #456990;
  color: #ddd;
  /* Set the height to match that of the viewport. */
  height: 89vh; }
  .register .error, .login .error {
    color: #990000;
    font-size: 1.5em; }

/* Login Partial Stylings */
.login-partial {
  text-align: center;
  padding: 15px;
  display: inline-block; }
  .login-partial button {
    padding: 10px;
    color: white;
    font-family: "Nobile", sans-serif;
    margin: 5px;
    background-color: #52B3D9;
    box-shadow: 2px 2px 5px #888888;
    border: none; }
    .login-partial button:hover {
      background-color: #3daad4; }
    .login-partial button:active {
      transform: translate(2px, 2px); }

.error-page {
  background-color: palevioletred;
  padding: 20px;
  text-align: center; }
  .error-page img {
    height: 80vh;
    filter: drop-shadow(0px 0px #d34f7a, 1px 1px #d34f7a, 2px 2px #d34f7a, 3px 3px #d34f7a, 4px 4px #d34f7a, 5px 5px #d34f7a, 6px 6px #d34f7a, 7px 7px #d34f7a, 8px 8px #d34f7a, 9px 9px #d34f7a, 10px 10px #d34f7a, 11px 11px #d34f7a, 12px 12px #d34f7a, 13px 13px #d34f7a, 14px 14px #d34f7a, 15px 15px #d34f7a, 16px 16px #d34f7a, 17px 17px #d34f7a, 18px 18px #d34f7a, 19px 19px #d34f7a, 20px 20px #d34f7a, 21px 21px #d34f7a, 22px 22px #d34f7a, 23px 23px #d34f7a, 24px 24px #d34f7a, 25px 25px #d34f7a, 26px 26px #d34f7a, 27px 27px #d34f7a, 28px 28px #d34f7a, 29px 29px #d34f7a, 30px 30px #d34f7a, 31px 31px #d34f7a, 32px 32px #d34f7a, 33px 33px #d34f7a, 34px 34px #d34f7a, 35px 35px #d34f7a, 36px 36px #d34f7a, 37px 37px #d34f7a, 38px 38px #d34f7a, 39px 39px #d34f7a, 40px 40px #d34f7a, 41px 41px #d34f7a, 42px 42px #d34f7a, 43px 43px #d34f7a, 44px 44px #d34f7a, 45px 45px #d34f7a, 46px 46px #d34f7a, 47px 47px #d34f7a, 48px 48px #d34f7a, 49px 49px #d34f7a, 50px 50px #d34f7a, 51px 51px #d34f7a, 52px 52px #d34f7a, 53px 53px #d34f7a, 54px 54px #d34f7a, 55px 55px #d34f7a, 56px 56px #d34f7a, 57px 57px #d34f7a, 58px 58px #d34f7a, 59px 59px #d34f7a, 60px 60px #d34f7a, 61px 61px #d34f7a, 62px 62px #d34f7a, 63px 63px #d34f7a, 64px 64px #d34f7a, 65px 65px #d34f7a, 66px 66px #d34f7a, 67px 67px #d34f7a, 68px 68px #d34f7a, 69px 69px #d34f7a, 70px 70px #d34f7a, 71px 71px #d34f7a, 72px 72px #d34f7a, 73px 73px #d34f7a, 74px 74px #d34f7a, 75px 75px #d34f7a, 76px 76px #d34f7a, 77px 77px #d34f7a, 78px 78px #d34f7a, 79px 79px #d34f7a, 80px 80px #d34f7a, 81px 81px #d34f7a, 82px 82px #d34f7a, 83px 83px #d34f7a, 84px 84px #d34f7a, 85px 85px #d34f7a, 86px 86px #d34f7a, 87px 87px #d34f7a, 88px 88px #d34f7a, 89px 89px #d34f7a, 90px 90px #d34f7a, 91px 91px #d34f7a, 92px 92px #d34f7a, 93px 93px #d34f7a, 94px 94px #d34f7a, 95px 95px #d34f7a, 96px 96px #d34f7a, 97px 97px #d34f7a, 98px 98px #d34f7a, 99px 99px #d34f7a, 100px 100px #d34f7a, 101px 101px #d34f7a, 102px 102px #d34f7a, 103px 103px #d34f7a, 104px 104px #d34f7a, 105px 105px #d34f7a, 106px 106px #d34f7a, 107px 107px #d34f7a, 108px 108px #d34f7a, 109px 109px #d34f7a, 110px 110px #d34f7a, 111px 111px #d34f7a, 112px 112px #d34f7a, 113px 113px #d34f7a, 114px 114px #d34f7a, 115px 115px #d34f7a, 116px 116px #d34f7a, 117px 117px #d34f7a, 118px 118px #d34f7a, 119px 119px #d34f7a, 120px 120px #d34f7a, 121px 121px #d34f7a, 122px 122px #d34f7a, 123px 123px #d34f7a, 124px 124px #d34f7a, 125px 125px #d34f7a, 126px 126px #d34f7a, 127px 127px #d34f7a, 128px 128px #d34f7a, 129px 129px #d34f7a, 130px 130px #d34f7a, 131px 131px #d34f7a, 132px 132px #d34f7a, 133px 133px #d34f7a, 134px 134px #d34f7a, 135px 135px #d34f7a, 136px 136px #d34f7a, 137px 137px #d34f7a, 138px 138px #d34f7a, 139px 139px #d34f7a, 140px 140px #d34f7a, 141px 141px #d34f7a, 142px 142px #d34f7a, 143px 143px #d34f7a, 144px 144px #d34f7a, 145px 145px #d34f7a, 146px 146px #d34f7a, 147px 147px #d34f7a, 148px 148px #d34f7a, 149px 149px #d34f7a, 150px 150px #d34f7a, 151px 151px #d34f7a, 152px 152px #d34f7a, 153px 153px #d34f7a, 154px 154px #d34f7a, 155px 155px #d34f7a, 156px 156px #d34f7a, 157px 157px #d34f7a, 158px 158px #d34f7a, 159px 159px #d34f7a, 160px 160px #d34f7a, 161px 161px #d34f7a, 162px 162px #d34f7a, 163px 163px #d34f7a, 164px 164px #d34f7a, 165px 165px #d34f7a, 166px 166px #d34f7a, 167px 167px #d34f7a, 168px 168px #d34f7a, 169px 169px #d34f7a, 170px 170px #d34f7a, 171px 171px #d34f7a, 172px 172px #d34f7a, 173px 173px #d34f7a, 174px 174px #d34f7a, 175px 175px #d34f7a, 176px 176px #d34f7a, 177px 177px #d34f7a, 178px 178px #d34f7a, 179px 179px #d34f7a, 180px 180px #d34f7a, 181px 181px #d34f7a, 182px 182px #d34f7a, 183px 183px #d34f7a, 184px 184px #d34f7a, 185px 185px #d34f7a, 186px 186px #d34f7a, 187px 187px #d34f7a, 188px 188px #d34f7a, 189px 189px #d34f7a, 190px 190px #d34f7a, 191px 191px #d34f7a, 192px 192px #d34f7a, 193px 193px #d34f7a, 194px 194px #d34f7a, 195px 195px #d34f7a, 196px 196px #d34f7a, 197px 197px #d34f7a, 198px 198px #d34f7a, 199px 199px #d34f7a, 200px 200px #d34f7a); }

/*# sourceMappingURL=style.css.map */
