$title-font: 'Nobile', sans-serif;;
$para-font:'Roboto Slab', serif;

$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

body{
  background-color: black; 
  height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}
p {
  font-family: $para-font;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}


@import './partials/nav';
@import './partials/index';
@import './partials/resume';
@import './partials/about';
@import './partials/works';
@import './partials/footer';
@import './partials/countdown';
@import './partials/weather';
@import './partials/blog';
@import './partials/login';
@import './partials/loginpartial';
