/* About Page Styles */
.about-wrapper {
	background-color: #F45B69;
}
.about {
	padding: 50px 10px 10px 10px;
	width: 70%;
	margin: 0 auto;
	font-size: 1.4em;
	font-weight: 700;
	@media screen and (max-width: 600px){
		width: 90%;
	}
	h1 {
		font-size:5em;
		@media screen and (max-width: 600px){
			font-size: 2em;
		}
	}
}
.about-skills {
	width: 60%;
	margin: 0 auto;
	img {
		height: 100px;
		margin-bottom: 40px;
	}
}

.timeline {
  background-color: #456990;
	padding-top: 20px;
	font-weight: 700;
	h2 {
		color:  #F45B69;
	}
	ul {
		margin-bottom: 0;
	}
  ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
    }
    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: #F45B69;
			border-radius: 5px;
			font-family: $para-font;
			time {
				font-family: $title-font;
			}
      &::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
    &:nth-child(odd) div {
      left: 45px;
      &::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
      }
    }
    &:nth-child(even) div {
      left: -439px;
      &::before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent #F45B69;
      }
    }
    &::after {
      background: #fff;
      transition: background .5s ease-in-out;
    }
    &.in-view::after {
      background: #F45B69;
    }
    div {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
    }
    &:nth-child(odd) div {
      transform: translate3d(50px, 0, 0);
			@media screen and (max-width: 500px) {
				transform: none;
			}
    }
    &:nth-child(even) div {
      transform: translate3d(-50px, 0, 0);
			@media screen and (max-width: 500px) {
				transform: none;
			}
    }
    &.in-view div {
      transform: none;
      visibility: visible;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 900px) {
  .timeline ul li {
    div {
      width: 250px;
    }
    &:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
}

@media screen and (max-width: 600px) {

  .timeline ul li {
    margin-left: 20px;
    div {
      width: calc(100vw - 91px);
    }
    &:nth-child(even) div {

      &::before {
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
      }
    }
  }
	@media screen and (max-width: 400px ) {
		ul {padding-left: 10px;}
		.timeline ul li {
	    div {
	      width: calc(100vw - 91px);
	    }
	    &:nth-child(even) div {
	      left: 45px;
	      &::before {
	        left: -15px;
	        border-width: 8px 16px 8px 0;
	        border-color: transparent #F45B69 transparent transparent;
	      }
	    }
		}
	}
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
}
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
