/* About Page Styles */
.about {
	font-family: $title-font;
	.row {
		margin: 0;
	}
}
.description {
	padding: 20px;
	p {
		font-size: 25px;
		font-weight: 700;
	}
	code {
		font-size: 25px;
	}
}

.picture img {
	width: 100%;
    max-width: 500px;
}
