/* Blog Stylings */

//.come-in {
//  transform: translateY(400px);
//  animation: come-in 2s ease forwards;
//}
//.come-in:nth-child(odd) {
//  animation-duration: 1.4s; /* So they look staggered */
//}
//
//@keyframes come-in {
//  to { transform: translateY(0); }
//}
.blog-container {
  background-color: #e0e0f0;
  min-height: 50vh;
  width: 100%;
  padding-bottom: 200px;
  margin-bottom: 0;
}

.blog {
  width: 90%;
  max-width: 90em;
  margin: 0 auto;
}

.list {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em;
  /* 30px */
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em;
  /* 30px */
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em;
  /* 30px */
  column-count: 3;
  column-gap: 1.875em;
  /* 30px */
  column-fill: auto;
}

.grid-item {
  margin-bottom: 1.875em;
  /* 15px 30px */
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

@media only screen and ( max-width: 40em)
/* 640px */

{
  .list {
    -webkit-column-count: 2;
    -webkit-column-gap: 0.938em;
    /* 15px */
    -moz-column-count: 2;
    -moz-column-gap: 0.938em;
    /* 15px */
    column-count: 2;
    column-gap: 0.938em;
    /* 15px */
  }
  .grid-item {
    margin-bottom: 0.938em;
    /* 15px */
  }
}

@media only screen and ( max-width: 20em)
/* 320px */

{
  .list {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
}

.blog-header {
  border-radius: 2px;
  transition: all .5s ease-in-out;
  background: white;
  * {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  h2 {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 1.2em;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: .8em;
  }
  h4 {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 1em;
  }
  a {
    &:hover {
      text-decoration: underline;
      color: #222;
    }
  }
  .likes {
    height: 20px;
    width: auto;
    cursor: pointer;
  }
  p {
    padding: 10px;
    color: #666;
    font-family: 'Hind', sans-serif !important;
    font-size: 1em !important;
  }
  span {
    padding: 10px;
    color: #666;
    font-family: 'Hind', sans-serif !important;
    font-size: 1em !important;
  }
  img {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.new-blog-header {
  text-align: center;
  color: #999;
  padding: 20px;
  h3 {
    font-size: 8em;
  }
  h4 {
    font-size: 2em;
  }
}

.blog-splash {
  text-align: center;
  padding: 30px;
  background-image: url('/images/keyboard.jpg');
  background-size: cover;
  background-position: center bottom;
  height: 338px;
  clip: auto;
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
}

#titleInput {}

.new-blog {
  background-color: #456990;
  min-height: 89vh;
  padding: 20px;
  color: #ddd;
  form {
    width: 80%;
    margin: 0 auto;
    * {
      margin: 10px;
    }
    textarea {
      height: 50vh;
    }
  }
}

.single-blog-container {
  width: 100%;
  background-color: #D24D57;
  a p {
    display: inline-block;
    font-weight: 700;
    font-size: 1em;
    margin: 10px 30px 10px 30px;
    border: 5px solid white;
    color: white;
    padding: 30px;
  }
}

.single-blog {
  background-color: #ddd;
  min-height: 90vh;
  padding: 0;
  margin-top: 30px;
  .blog-text {
    padding: 40px;
  }
  code {}
  .blog-title {
    display: inline-block;
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      filter: grayscale(30%);
      z-index: 0;
    }
    h1 {
      position: absolute;
      bottom: 200px;
      left: 0;
      width: 100%;
      z-index: 1;
      @media screen and (max-width: 810px) {
        bottom: 20px;
      }
      span {
        color: white;
        font-weight: 700;
        font-size: 1.5em;
        letter-spacing: -1px;
        line-height: 1.5;
        background: rgb(0, 0, 0);
        /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        @media screen and (max-width: 810px) {
          font-size: .75em;
          line-height: 1.9;
        }
      }
    }
  }
  p {
    font-size: 1.5em;
    @media screen and (max-width: 810px) {
      font-size: 1em;
    }
  }
}