/* Blog Stylings */
.blog-container {
  background-color: #dddddd;
  min-height: 50vh;
}

.blog {
  text-align: left;
  padding: 20px;
  a {
    &:hover {
      text-decoration: underline;
      color: #222;
    }
  }
  p {
    font-family: $para-font;
    font-size: 1.5em;
  }
  img {
    height: 30px;
    display: inline-block;
  }
}

.blog-splash {
  text-align: center;
  padding: 30px;
  background-image: url('/images/keyboard.jpg');
  background-size: cover;
  background-position: center bottom;
  height:338px;
  clip: auto;
  h1 {
    font-family: $title-font;
    font-size: 8em;
    color: white;
    text-shadow: 2px 2px 5px black;
  }
}
#titleInput { 
    
}
.new-blog {
  background-color: #456990;
  min-height: 89vh;
  padding: 20px;
  color: #ddd;
  form {
    width: 80%;
    margin: 0 auto;

    * {
      margin: 10px;
    }
    textarea {
      height: 50vh;
    }
  }
}

.single-blog {
  background-color: #ddd;
  min-height: 90vh;
  padding: 20px;
}