/* Blog Stylings */
.blog-container {
  background-color: #f6f6f6;
  min-height: 50vh;
  width: 100%;
}

//.masonry { /* Masonry container */
//    column-count: 5;
//    column-gap: 10px;
//    padding-bottom: 50px;
//}
//
//.grid-item { /* Masonry bricks or child elements */
//    padding: 20px; 
//    margin: 0;
//    float: left; 
//    top-margin: 20px; 
//    bottom-margin: 20px;
//    img {
//  /* Just in case there are inline attributes */
//      width: 100% !important;
//      height: auto !important;
//  }
//}
.blog {
  background-color: transparent;
  max-width: 100%;
  margin: 0 auto;
}
.blog-container {
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom:0;
}


.come-in {
  transform: translateY(400px);
  animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.4s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.blog-header {
  border-radius: 5px;
  display: inline-block;
  float: left;
  transition: all .5s ease-in-out;
  min-height: 400px;
  background: white;
  margin-right: 10px;
  margin-bottom:50px;
  @media screen and (max-width: 2000px) { width: 19%;}
  @media screen and (max-width: 1130px) { width: 30%;}
  @media screen and (max-width: 900px) { width: 46%;}
  @media screen and (max-width: 600px) { width: 90%;}
  * {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  h2 {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 1.2em;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: .8em;
  }
  h4 {margin-top: 10px;
     padding-left: 5px;
    font-size: 1em;
  }
  a {
    &:hover {
      text-decoration: underline;
      color: #222;
    }
  }
  p {
    padding: 10px;
    color: #666;
    font-family: 'Hind', sans-serif !important;
    font-size: 1em !important;
  }
  span {
    padding: 10px;
    color: #666;
    font-family: 'Hind', sans-serif !important;
    font-size: 1em !important;
  }
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.new-blog-header {
  text-align: center;
  color: #999;
  padding: 20px;
  h3 {
    font-size: 8em;
  }
  h4 {
    font-size: 2em;
  }
}
.blog-splash {
  text-align: center;
  padding: 30px;
  background-image: url('/images/keyboard.jpg');
  background-size: cover;
  background-position: center bottom;
  height:338px;
  clip: auto;
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
}
#titleInput { 
    
}
.new-blog {
  background-color: #456990;
  min-height: 89vh;
  padding: 20px;
  color: #ddd;
  form {
    width: 80%;
    margin: 0 auto;

    * {
      margin: 10px;
    }
    textarea {
      height: 50vh;
    }
  }
}

.single-blog {
  background-color: #ddd;
  min-height: 90vh;
  padding: 20px;
  .blog-body {
    p {
      font-size: 1.5em;
    }
  }
}