$highlight-color:#e74c3c;

.countdown {
    background-color: #2c3e50;
    min-height: 90%;
    padding: 50px;
    text-align: center;
    h1, h3 {
        font-family: $title-font;
        font-size: 50px;
        color: $highlight-color;
    }
    fieldset {
      margin: 0 auto;

      input, label, button {
        font-family: $title-font;
        padding: 10px;
        margin: 10px;
        float: left;
        font-size: 1.2em;
        color:$highlight-color;
      }
      input {
        width: 220px;
      }
      button {
        color: #333;
        background-color: #ddd;
      }
    }

}



#clockdiv {

}

.count {
  font-family: $title-font;
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  color: $highlight-color;
}

.num {
    font-size: 100px;
    font-family: $title-font;
}
