$highlight-color:lighten(#992114, 10%);

.countdown {
    background-color: lighten( #1A3112, 10%);
    min-height: 90%;
    padding: 50px;
    text-align: center;
    h1, h3 {
        font-family: $title-font;
        font-size: 50px;
        color: $highlight-color;
    }
    img {
      padding: 50px;
    }
    fieldset {
      margin: 0 auto;
      width: auto;
      text-align: center;
      input, label, button {
        margin: 3px auto;
        font-family: $title-font;
        padding:5px;
        font-size: 1.2em;
        color:$highlight-color;
      }
      input {
        width: 220px;
      }
      button {
        color: #333;
        background-color: #ddd;
      }
    }

}



#clockdiv {

}

.count {
  font-family: $title-font;
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  color: $highlight-color;
}

.num {
    font-size: 100px;
    font-family: $title-font;
}
