
@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  filter: drop-shadow(makelongshadow($color));
}

$error-color: palevioletred;
.error-page {
  min-height: 90vh;
  background-color: $error-color;
  padding: 20px;
  text-align: center;
  font-family: 'Eater', cursive;
 * {
    font-family: 'Eater', serif;
  }
  .monster-container {
    width: 100%;
    img {
      width: 14%;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      color: lighten(black, 30%);
    }
  }
}