/* Contact footer Partial Style */

.footer-container {
  background-color: #333;
  color: #aaa;
  padding: 40px;
  .footer {
    text-align: center;
    a {
      text-decoration: underline;
      margin: 10px 10px;
      &:hover{
        color: #ccc;
      }
    }
  }
}