/* Login Partial Stylings */
.login-partial {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  button {
    padding: 10px;
    color: white;
    font-family: $title-font;
    margin: 5px;
    background-color: #52B3D9;
    box-shadow: 2px 2px 5px #888888;
    border: none;
    display: inline-block;
    float: left;
    &:hover {
      background-color: darken(#52B3D9, 5%);
    }
    &:active {
      transform: translate(2px, 2px);
    }
  }
}
