.nature {
  text-align: center;
  h1 {
    color: white;
    font-size: 8em;
    font-family: 'Dancing Script', cursive;
    @media screen and (max-width: 500px) {
      font-size: 4em;
    }
  }
  .nature-splash {
    padding-top: 80px;
    height: 100vh;
  }
  .design-examples {
    margin-top: -50px;
    padding: 20px;
    background-color: white;
    h1 {
      color: dodgerblue;
    }
    .d-ex {
      padding: 20px;
      .d-ex-content {
        background-color: dodgerblue;
        padding: 20px;
        p {
          font-size: 1.5em;
        }
      }
    }
  }
}