/* Nav Partial Styles */

// FUTURE: Make this not bootstrap, it's annoying as hell 
.nav * {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #f6f6f6 !important;
  text-transform: uppercase;
}

.active {
  background-color: #333;
}

.navbar {
  margin-bottom: 0 !important;
}