/* Nav Partial Styles */

// FUTURE: Make this not bootstrap, it's annoying as hell 
.nav * {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #f6f6f6 !important;
  text-transform: uppercase;
}

.nav a {
  background-color: #222;
  &:hover {
    background-color: #161616 !important;
  }
}

.show-nav {
  display: block;
}

.active {
  background-color: #333;
  &:hover {
    background-color: #333 !important;
  }
}

.navbar {
  margin-bottom: 0 !important;
}