.radio-controller {
  background-color: #ccc;
  width: 80%;
  margin: 50px auto;
  box-shadow: 2px -2px 5px #888;
  .nprLiItem {
    border: 1px solid #aaa;
  }
}
.radio {
  background-color: white;
}
