.resume {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  font-family: $title-font;
  font-weight: 700;
  font-size: 16px;
  @media screen and (max-width: 900px) {
    font-size: 12px;
  }
  @media screen and (max-width: 500px) {
    font-size: 10px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.25em;
  }
  .email {
    font-size: 1.5em;
  }
}

.resume-wrapper {
  background-color: #f6f6f6;
}