/* Index Splash  Styles */

.splash {
	@media (max-width: 2100px) and (min-width: 760px){
  		background-image: url("../../images/Boston_reflection.jpg");
  		height: 100%;
  	}
  	@media (max-width:767px) {
  		background-image: url('../../images/mobile-image.jpg');
  		height: 100%;
  	}
  	@media(max-width:480px) {
  		height: 1000px;
  	}
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100%;
  
}

.splash-title {
	h1, h2 {
	  margin: 0;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  font-family: $title-font;
	}h1 {
		font-size: 70px;
		
	} h2 {
		font-size: 45px;
		box-sizing: content-box;
		@media (max-width:1400px) {
			background-color: rgba(255, 255, 255, 0.7);
		}
	}
	@media (max-width: 2200px) {
		margin-bottom: 100px;
	}
	@media (max-width: 767px) {
  		color: white;
  		font-weight: bold;
  		margin-bottom: 100px;
 	}
 	@media (max-width: 480px) {
 		margin-bottom: 20px;
 	}
	
}

.splash-description h3 {
  text-align: center;
  font-family: $title-font;
  font-weight: bold;
  color: white;
  @media (max-width: 480px) {
  		background-color: rgba(255, 255, 255, 0.3);
 	}
}

.splash-spacer {
	height: 50%;
}

/* Spash circle infobox */

.circle {
	background: rgba(255, 255, 255, 0.7);
	font-family: 'Titillium', sans-serif;
	border-radius:50%;
	color: black;
	display:table;
	height: 300px;
	font-weight: bold;
	font-size: 1.2em;
	width: auto;
	margin:0 auto;
}
.circle span {
	display:table-cell;
	vertical-align:middle;
	height:300px;
	width:300px;
	text-align:center;
	padding: 0 15px;
}